.tileContainer {
  background-color: #1A1919;
  text-align: center;
}

.tileContainer.noGrid .tile {
  border-right: 0px solid rgba(0, 0, 0, 0.5);
  border-bottom: 0px solid rgba(0, 0, 0, 0.5);
}

.tile {
  border: 10px solid black;
  display: inline-block;
  position: relative;
  vertical-align: top;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;

  &:after {
    content: "";
    background-color: #cc1c32;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 100%;
    right: 0px;
    transform: translate(50%, -50%);
    z-index: 2;
    line-height: 1;
  }
}


