.iframe{
    height: 100vh;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    border: 3px solid rgb(247, 105, 249);
     
}
.main-div{
    height: 100%;
    background: linear-gradient(to right, #d468f9, #f968ba);
}